html,body{
  height: 100%;
  width: 100%;
  color:#fff;
}

body{
  background-color: black;
}
.card{
  width: 300px;
  border: 1px solid white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #333;

}
.parent{
  padding: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

}
.card p{
  margin: 20px 0px;

}
.card button{
  padding: 10px 20px;
  background-color: white;
  color:black;
  border: none;
  border-radius: 5px;
}

.parent img{
  height:200px;
  width: ;

}